* {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: #262626;
}

div {
  text-align: center;
  text-underline-position: below;
}

.a {
  height: 50vh;
}

form.signup {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

form.login {
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 10%;
}
footer {
  align-content: flex-end;
}

img.Image {
  height: 25em;
  width: 50em;
}
