* {
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: black;
}

footer {
  margin-right: 10%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  background-color: black;
  color: white;
  text-align: justify;
}
